<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Leader View</title>
    <link rel="stylesheet" href="/css/views.css">
  </head>
  <body>
    <h1>Round #1</h1>
      <section class="gameContainer">
          <div class="colorBox cbRed">
            <button type="button" name="button"></button>
          </div>
          <div class="colorBox cbBlue">
              <button type="button" name="button"></button>
          </div>
          <div class="colorBox cbYellow">
              <button type="button" name="button"></button>
          </div>
          <div class="colorBox cbGreen">
              <button type="button" name="button"></button>
          </div>
      </section>
      <section class="PlayerContainers">
        <h2>Current players:</h2>
      </section>
  </body>
</html>
