* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-width: 1000px;
  height: 100vh;
}

.disabled {
  pointer-events: none;
  opacity: 0.3;
}

ul {
  list-style-type: square;
}

.vh-center-content {
  position: relative;
  height: 100%;
  width: 100%;
}

.vh-center-content .content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.h-center-content {
  text-align: center;
}

.message-box {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
}

.message-box .content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 30px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

.game-container {
  width: 400px;
  height: 400px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
      grid-template-areas: "red green" "yellow blue";
}

.color-box-red {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: red;
}

.color-box-red > button.background {
  background-color: #DB5461;
}

.color-box-red > button.background:hover {
  background: #c24c58;
}

.color-box-red > button.background:active {
  background-color: #c24c58;
  -webkit-box-shadow: 0 5px #666;
          box-shadow: 0 5px #666;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.color-box-green {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: green;
}

.color-box-green > button.background {
  background-color: #43C59E;
}

.color-box-green > button.background:hover {
  background: #359b7c;
}

.color-box-green > button.background:active {
  background-color: #359b7c;
  -webkit-box-shadow: 0 5px #666;
          box-shadow: 0 5px #666;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.color-box-yellow {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: yellow;
}

.color-box-yellow > button.background {
  background-color: #F3C677;
}

.color-box-yellow > button.background:hover {
  background: #caa462;
}

.color-box-yellow > button.background:active {
  background-color: #caa462;
  -webkit-box-shadow: 0 5px #666;
          box-shadow: 0 5px #666;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.color-box-blue {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: blue;
}

.color-box-blue > button.background {
  background-color: #48BEFF;
}

.color-box-blue > button.background:hover {
  background: #40a6dd;
}

.color-box-blue > button.background:active {
  background-color: #40a6dd;
  -webkit-box-shadow: 0 5px #666;
          box-shadow: 0 5px #666;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.color-box {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.color-box > button.background {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  -webkit-box-shadow: 0 5px #999;
          box-shadow: 0 5px #999;
  outline: none;
}

.samples .color-sample {
  display: inline-block;
  margin-right: 5px;
  width: 20px;
  height: 20px;
}

.samples .red-box {
  background-color: #DB5461;
}

.samples .blue-box {
  background-color: #48BEFF;
}

.samples .green-box {
  background-color: #43C59E;
}

.samples .yellow-box {
  background-color: #F3C677;
}

.wrong {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  background: blue;
  position: relative;
}

.wrong::before, .wrong::after {
  content: '';
  background: red;
  position: absolute;
  top: 8px;
  height: 3px;
  width: 175%;
  border: 1px solid black;
}

.wrong::before {
  left: -7px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.wrong::after {
  right: -7px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.strike {
  text-decoration: line-through;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-ring div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  -webkit-animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-ring {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=main.css.map */