<input type="hidden" name="playername" value="{{playername}}">

<div class="vh-center-content">
    <div class="content h-center-content">
        <div class="legend">
            <h3>Waiting...</h3>
        </div>
        <div class="PlayerContainers">
            <h4>Current players:</h4>
            <ul id="players-list" class="text-left">
            {{#each players}}
                <li id="{{this.gameid}}">{{ this.playername }}</li>
            {{/each}}
            </ul>
        </div>

        <button class="btn btn-success js-ready">
            Ready
        </button>
    </div>
</div>

<div id="waiting-box" class="message-box">
    <div class="content h-center-content">
        <div>Waiting for other players</div>
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    playername = $('input[name=playername]').val();
    socket.emit('lobby-register-player', playername);

    $('.js-ready').click(function() {
        $(this).attr("disabled", true);
        socket.emit('lobby-player-ready');

        $('#waiting-box').fadeIn();
    });

    socket.on('lobby-add-player', function(gameid, playername) {
        var ul = document.getElementById("players-list");
        var li = document.createElement("li");
        li.setAttribute("id", gameid); // added line
        li.appendChild(document.createTextNode(playername));
        ul.appendChild(li);
    });

    socket.on('lobby-remove-player', function(gameid) {
        var ul = document.getElementById("players-list");
        var li = document.getElementById(gameid);
        ul.removeChild(li);
    });

    socket.on('redirect', function(destination) {
        window.location.href = destination;
    });
</script>