<div class="vh-center-content">
    <form action="" method="POST" class="content h-center-content">
        <div class="form-group">
            <input class="form-control" type="text" name="playername" placeholder="Please write your name">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>