<h1>Round #<span id="round-span">1</span></h1>

<table>
    <tr>
        <td>
            <section class="game-container">
                <div class="color-box color-box-red">
                    <button class="background js-add-colorbox" data-color='red'></button>
                </div>
                <div class="color-box color-box-blue">
                    <button class="background js-add-colorbox" data-color='blue'></button>
                </div>
                <div class="color-box color-box-yellow">
                    <button class="background js-add-colorbox" data-color='yellow'></button>
                </div>
                <div class="color-box color-box-green">
                    <button class="background js-add-colorbox" data-color='green'></button>
                </div>
            </section>
        </td>

        <td>
            <h3>Current color sequence:</h3>
            <section id="sequence-container" class="samples"></section>
        </td>
    </tr>
</table>



<div id="youre-player-box" class="message-box">
    <div class="content">
        You are a player!
    </div>
</div>

<div id="waiting-leader-box" class="message-box">
    <div class="content">
        Please wait. The leader is choosing a color
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    var targetColorSequence;

    socket.emit('game-player-ready', "{{playername}}");

    socket.on('start-player-turn', function(round, colorSequence){
        $('#round-span').text(round);
        $('#waiting-leader-box').hide();
        targetColorSequence = colorSequence;
        console.log(targetColorSequence);
    })

    socket.on('redirect', function(destination) {
        window.location.href = destination;
    });
</script>

<script>
    $('#youre-player-box').fadeIn();
    setTimeout($('#youre-player-box').hide(), 2000);
    $('#waiting-leader-box').show();

    $('.js-add-colorbox').click(function(e){
        e.preventDefault(); // prevents page reloading                
        let color = $(this).attr('data-color');
        socket.emit('player-add-player-color', color);

        let container = document.getElementById("sequence-container");
        let color_box = document.createElement("div");
        color_box.className = `color-sample ${color}-box`;
        container.appendChild(color_box);

        return false;
    })
</script>